*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.entete {
  min-height: 100vh;
  width: 100%;
  background: url(../image/Pixbuster-Desktop-Wallpaper-4K-010.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1% 4%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 125px;
}

nav ul{
  flex: 1;
  text-align: right;
}


nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}


nav ul li a {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;

}

nav ul li ::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;

}

nav ul li :hover::after {
  width: 100%;
}

.texte-boite{
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 90vw;
  margin: 3%;

}
header h1{
  font-size: 54px;
  text-transform: uppercase;
}

header p{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.cta{
  padding: 15px 30px;
  background: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  font-weight: 700;
  border-radius: 50px;
  margin: 30px 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.cta:hover{
  border: 1px solid darkgray;
  background: #2AAA8A;
  transition: 0.8s;

}

/*----main----*/
main{
  min-height: 100%;
  width: 100%;
  position: relative;
}

section{
  min-height: 100vh;
  width: 90vw;
  color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
   
}
section h1{
  font-size: 54px;
  text-transform: uppercase;
}


section p{
  display: flex;
  padding: 50px;
}


